@font-face {
  font-family: 'ir-sans';
  src: url('/font/A-Iranian-Sans/Iranian Sans.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html{
    scroll-behavior: smooth;
  }
  body{
    font-family: 'ir-sans',sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}